.Month {
  list-style-type: none;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  padding: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  display: inline-block;
  cursor: pointer;
}

.Few {
  color: grey;
  border-color: grey;
}

.Average {
  color: #3458eb;
  border-color: #3458eb;
}

.Plenty {
  color: #36e622;
  border-color: #36e622;
}

.VeryNumerous {
  color: #d40f0f;
  border-color: #d40f0f;
}
